body {
    font-family: Roboto;
    margin: 0;
    font-size: 18px;
    display:flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    padding: 0 100px;
    margin: 0;

}   

.text_link, .link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.link, .secondary {
    color: #E5E7E8;
    gap: 16px;
}

.hero-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 0;
}

.hero{
    width: 400;
}
.main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 900;
    padding: 8px 24px;
    margin: 8px 0;
    border-radius: 5px;
    border: 0;
}

.image {
    background-color:  #7e8591;
    width: 300;
    padding: 100px;
    color: #E5E7E8;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px 0;
    padding: 16px 200;
}

.text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 16px;
    text-align: center;
}

.random_image {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.img-text {
    display: flex;
    gap: 48px;
    margin: 24px;
}

.random-subtext {
    width: 150px;
}

.subtext {
    padding: 8px 0;
    text-align: center;
}

.quote-background {
    background-color: #E5E7EB;
    margin:0;
    padding: 100 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.quote {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 0;
    padding: 0;
}

.testimonial {
    font-weight: 300;
    font-size: 36px;
    color: #1F2937;
}

.thor {
    align-self: flex-end;
}

.call-to-action {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin: 64px;
    padding: 32px 100px;
    border-radius: 5px;
    color:white;
    width: 600px;
}

.call {
    font-weight: 900;
}

.message {
    font-size: 12px;
}

.last-button {
    border: 2px solid white;
}

footer {
    text-align: center;
    background-color: #1F2937;
    color: #E5E7E8;
    margin: 0;
    padding: 24px 64px;
}